	body {
    font-family: "微軟正黑體";
}

.title {
    position: relative;
    font-size: 2.75em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 1em 0;
    letter-spacing: -0.035em;
}

.title_head {
    position: relative;
    margin: 2em 0 2em 0;
    color: #585858;
}

.inn {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
}

.logo {
    position: relative;
}

.title {
    position: relative;
}

.title_head {
    position: relative;
}

.img img {
    position: relative;
    width: 101%;
    height: 101%;
    margin: -1%;
}

.img {
    position: relative;
    width: 32%;
    margin: 0.5%;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease, opacity 0.5s ease;
}

.content {
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    width: 100%;
    max-height: 0;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 2.5em;
}

.style1 a {
    position: absolute;
    color: #f86969;
    text-decoration: unset;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.style2 a {
    position: absolute;
    color: #3b8665;
    text-decoration: unset;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.style3 a {
    position: absolute;
    color: #286f6f;
    text-decoration: unset;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}


.style1 .top_img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f1bbba;
    z-index: 2;
    background-size: 100% 100%;
    transition: all 0.5s ease;
}

.img.style1:hover {
    width: 34%;
    margin: -0.5%;
}

.img.style1:hover>.top_img {background: #000000ab;}

.img.style1:hover>a .content {
    opacity: 1;
    max-height: 5em;
}

.style2 .top_img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #a8dba8;
    z-index: 2;
    background-size: 100% 100%;
    transition: all 0.5s ease;
}

.img.style2:hover {
    width: 34%;
    margin: -0.5%;
}

.img.style2:hover>.top_img {
    background: #0000004a;
}

.img.style2:hover>a .content {
    opacity: 1;
    max-height: 5em;
}

.style3 .top_img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #a3daff;
    z-index: 2;
    background-size: 100% 100%;
    transition: all 0.5s ease;
}

.img.style3:hover {
    width: 34%;
    margin: -0.5%;
}

.img.style3:hover>.top_img {
    background: #0000004a;
}

.img.style3:hover>a .content {
    opacity: 1;
    max-height: 5em;
}
.main_image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
	border-radius:20px;
}

.main_images {
	position: absolute;
	width: 100%;
	margin-top: -10%;
	opacity: 0;
	    transition: all 0.6s ease;
	}
	

.main_images.show {
    opacity: 1;
}
.main_left {
	color:white;
    position: relative;
    z-index: 2;
    width: 50px;
    height: 100px;
    background: #ffffff00;
    top: calc(50% - 50px);
    font-size: 40px;
    line-height: 100px;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.5s ease;
}

.main_left:hover {
    background: #ffffff6b;
    font-size: 50px;
}
.main_right {
    position: relative;
    z-index: 2;
    width: 50px;
    height: 100px;
    background: #ffffff00;
    left: calc(100% - 50px);
    padding-left: 10px;
    font-size: 40px;
    line-height: 100px;
    border-radius: 20px 0px 0px 20px;
    transition: all 0.5s ease;
	color:white;
}

.main_right:hover {
    background: #ffffff6b;
    font-size: 50px;
}