.top {
    display: block;
    margin: auto;
    width: 15%;
    height: 14%;
}

.toptop {
    margin-bottom: 3%;
}

.leftphoto {
    position: absolute;
    width: 20%;
    height: auto;
    padding: 2.5% 0% 0% 2%;
    left: 0px;
    top: 0px;
}

.rightphoto {
    width: 20%;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 2%;
    padding: 2% 2.5% 0px;
}

.bor {
    position: relative;
    border: 1px solid #AAAAAA;
    height: 320px;
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 50px;
}

p.a {
    width: 72%;
    height: 150px;
    margin-left: 24%;
    padding: 1% 2% 2% 2%;
    line-height: 150%;
    text-align: justify;
    margin-bottom: 0px;
}

p.b {
    height: 150px;
    width: 72%;
    padding: 1% 2% 2% 2%;
    line-height: 150%;
    margin-right: 24%;
    text-align: justify;
}

.rightphoto_log {
    float: right;
    bottom: 20px;
    width: 150px;
    height: 150px;
    margin: -20% 10% 0% 0%;
}

.leftphoto_log {
    float: left;
    width: 150px;
    height: 150px;
    padding: 2%;
    margin: 5% 2% 0% 2%;
}

.FB {
    clear: left;
    padding: 1.5%;
    margin-left: 6%;
}

.FB_LINK {
    position: relative;
    display: block;
    left: 4%;
    width: 20%;
    text-align: center;
}

.FB_2 {
    clear: right;
    padding: 1.5%;
    width: 20%;
}

.FB_LINK2 {
    position: relative;
    display: block;
    left: 78%;
    width: 20%;
    text-align: center;
}

.FB {
    position: relative;
    font-family: "微軟正黑體";
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 20%;
}

.FB_2 {
    position: relative;
    font-family: "微軟正黑體";
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    left: 72%;
    margin-left: 4%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.a {
    font-family: "微軟正黑體";
}

.b {
    font-family: "微軟正黑體";
}
img.rightphoto_log {
    z-index: -1;
    -webkit-filter: opacity(0.6);
    position: absolute;
    right: 0px;
}

.leftphoto_log {
    z-index: -1;
    -webkit-filter: opacity(0.6);
    position: absolute;
    left: 0px;
    bottom: 20px;
}