.menu {
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    left: -150px;
    height: 100%;
    z-index: 999;
    width: 150px;
    transition: all 0.5s ease;
}

.menu h3 {
    margin-left: 20px;
    margin-top: 40px;
}

.menu hr.a {
    margin-left: 20px;
    margin-top: -12px;
    margin-bottom: 50px;
    width: 100px;
    height: 6px;
    border: 0px;
    background-color: #FF6347;
}

.menu h5 {
    margin-left: 20px;
    width: 100px;
    margin-bottom: 0px;
}

.menu .b {
    width: 100px;
    color: #ffffff;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: 100;
}

.menu a:link  {
    color: black;
}

.menu a:visited  {
    color: black;
}

.menu a:hover {
    color: #FF6347;
}
.menu a:hover >.b {
    color: #ffffff;
}


.click {
    position: relative;
    display: inline-block;
    left: 150px;
    top: 0px;
    height: 100%;
    width: 25px;
    background: #50505036;
    border-radius: 0 25px 25px 0px;
    font-size: 50px;
    padding-top: 5em;
    transition: all 0.5s ease;
}

.menu_left {
    position: absolute;
    width: 150px;
}

.click:hover {
    background: tomato;
    opacity: 1;
}

.menu.open {
    left: 0px;
}