	.icon.sky {
    display: inline-block;
    background-image: url("../images/ic講座.png");
    width: 80px;
    height: 80px;
    background-size: 100%,100%;
    position: relative;
    padding-top: 30px;
    background-repeat: no-repeat;
}
.icon.human {
    display: inline-block;
    background-image: url("../images/ic樂器表演.png");
    width: 80px;
    height: 80px;
    background-size: 100%,100%;
    position: relative;
    padding-top: 30px;
    background-repeat: no-repeat;
}
.icon.item {
    display: inline-block;
    background-image: url("../images/ic戲劇表演.png");
    width: 80px;
    height: 80px;
    background-size: 100%,100%;
    position: relative;
    padding-top: 30px;
    background-repeat: no-repeat;
}


article {
     width: 45%;
    margin: 2%;
    height: auto;
    display: inline-block;
    transition:all 0.6s ease;
}



.features {
     margin-left: 15%;
    width: 70%;
    overflow: hidden;
}

.content {
    position: relative;
    display: inline-block;
    width: calc(100% - 90px);
	    vertical-align: top;
}

span.icon.human {}
.content{
	font-family: "微軟正黑體"; 
}
h2{
	position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: "微軟正黑體"; 
    font-size: 40px;
    margin-bottom:0px;
}
a{
	color:black;
}
a:visited{
	color:black;
}
a:link{
	color:black;
}
 .AAA
        {

        margin-bottom:  70px;
        width: 70%;
        height: 6px;
        border:0px;
        background-color: #a8dba8;
        }
 .BBB
        {

        margin-top: 20px;
        width: 70%;
        height: 6px;
        border:0px;
        background-color: #a8dba8;

        }
		article:hover {
    color: white;
    background: #a8dba8;
    border-radius: 50px;
    margin: 0px;
    padding: 2%;
}
		article:hover > .icon {-webkit-filter: brightness(3);}